.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(17, 20px);
  grid-template-rows: repeat(17, 20px);
  border: 1px solid #ccc;
}

.cell {
  width: 20px;
  height: 20px;
  border: 0.5px solid #eee;
}

.cell.snake {
  background-color: #18a592;
  border-radius: 4px;
}

.cell.food {
  background-color: #0c5223;
  border-radius: 50%;
}